<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <link href="@Href("~/Styles/Site.css")" rel="stylesheet" />
        <script src="@Href("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
        @RenderSection("header", required: false)
    </head>
    <body>
        @RenderBody()
        @RenderSection("footer", required: false)
    </body>
</html>
