@{
    ViewBag.Title = "海得能源";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <style type="text/css">
        .focusimg ul {bottom:5px; right:10px;}
        .focusimg ul li{color:#609705;border:1px solid #609705;width:12px;height:15px;}
        .focusimg ul li.on{ background-color:#609705;}
        
        .wrap1-col1{float:left;width:678px;}
        .wrap1-col2{float:right; line-height:22px;padding-top:45px; width:270px; background:url("/images/welcome_green.jpg") no-repeat scroll left 10px transparent;}
        
        .wrap2-col1{float:left;width:178px;border:#ccdecd 1px solid;}
        .wrap2-col2{float:right; display:inline;border:#CCDECD 1px solid;width:781px;}
        .wrap2-col1 h3,.wrap2-col2-col1 h3,.wrap2-col2-col2 h3,.wrap2-col2-col3 h3{padding-left:10px; height:21px; padding-top:4px; background:url(/images/energy/titlebg.jpg) repeat-x}
        
        .wrap2-col2-col1{width:500px; float:left; border-right:#ccdecd 1px solid; border-bottom:#ccdecd 1px solid;height:190px; overflow:hidden;}
        .wrap2-col2-col2{width:280px; float:right;border-bottom:#ccdecd 1px solid; height:190px; overflow:hidden;}
        .wrap2-col2-col2 li{float:left;}
        .wrap2-col2-col3 li{ display:inline; float:left; margin:10px 0 10px 15px; text-align:center;width:140px;}
        .wrap2-col2-col3{ margin-bottom:5px;}
        .news-img img{padding-top:12px;}
		.wrap2-col2-col1 .news-img img {height:110px;width:152px;}
        .wrap2-col2-col1 .news-img{float:left;padding:5px 10px 0 5px;}
        .wrap2-col2-col1 .news-list{float:left;padding-top:10px;width:310px;}
        .wrap2-col2-col1 ul li{background:url("/images/icon_dot.gif") no-repeat scroll left center transparent;line-height:22px;text-indent:8px;}
        .wrap2-col2-col1 .more{color:#105F91; margin-right:10px; float:right;}
        .wrap2-col2-col2 li{padding-left:15px;padding-top:5px;}
		.article-info {float:left;width:480px;padding-bottom:10px;}

    </style>
}
<div class="wrap1 clearfix">
    <div class="wrap1-col1">
        <div class="focusimg" id="slide">
            <!--轮播广告-->
            <ol>
                @foreach (var item in ViewBag.FocusImageList)
                { 
                    <text><li><a href="@item.Url" target="_blank" title="@item.Title">
                    <img src="@item.ImageUrl" alt="@item.Title"></a></li></text>
                }
            </ol>
        </div>
        <script type="text/javascript">
            $("#slide").hiteSlide({ width: 702, height: 301, timer: 4000 });
        </script>
    </div>
    <div class="wrap1-col2">
        @Html.Raw(PageData["SiteInfo"].Introduction)
    </div>
</div>
<div class="blankb"></div>
<div class="wrap2 clearfix">
    <div class="wrap2-col1">
        <h3><img src="/images/energy/en/ldshow.jpg"/></h3>
        <ul>
           <li>@Html.Raw(ViewBag.Liangdian.Introduction)</li>
        </ul>
    </div>
    <div class="wrap2-col2">
        <div class="wrap2-col2-col1">
            <h3><img src="/images/energy/en/news.jpg" alt="News"/></h3>
            <div class="news-img">
                @if (ViewBag.News.Count >0) { 
                <a href="@ViewBag.News[0].Url" class="news-img" target="_blank" title="@ViewBag.News[0].Title"><img src="@ViewBag.News[0].ImageUrl" alt="@ViewBag.News[0].Title" /></a>
            }
            </div> 
            <div class="news-list">
                <ul>
                    @foreach (var item in ViewBag.News) { 
                        <li><a href="@item.Url" target="_blank" title="@item.Title">@(Goodspeed.Common.CharHelper.Truncate(item.Title, 20))</a></li>
                    }
                </ul>
            </div>
            <div class="clear"></div>
            <a href="/en/channel/615.html" target="_blank" class="more">More>></a>
        </div>
        <div class="wrap2-col2-col2">
            <h3><img src="/images/energy/en/fwtitle.jpg" alt="CustomerService" /></h3>
            <ul>
                @foreach (var item in ViewBag.CustomerService) { 
                    <li>@Html.Raw(Hite.Mvc.CategoryLinkUrlHelper.BuildLink(item, "<img src=\""+item.ImageUrl+"\" alt=\"@(item.Name)\" />", new { target="_blank" }))</li>
                }
                
            </ul>
        </div>
        <div class="clear"></div>
        <div class="wrap2-col2-col3 clearfix">
            <h3><img src="/images/energy/en/productshow.jpg" alt="Product" /></h3>
            <ul>
                @foreach (var item in ViewBag.Product)
                { 
                    <li><a href="@item.Url" target="_blank" title="@item.Title"><img src="@item.ImageUrl" alt="@item.Title" /></a><br /><a href="@item.Url" target="_blank" title="@item.Title">@(item.Title)</a></li>
                }
            </ul>
			<a href="/en/channel/632.html" style="color:#0f4a90;">More>></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/en/channel/622.html" style="color:#0f4a90;">More>></a>
        </div>
    </div>
</div>
<div class="blankb"></div>
